<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Creando usuarios
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Numero</ion-label>
    <input [(ngModel)]="id">
  </ion-item>
  <ion-item>
    <ion-label>nombre</ion-label>
    <input [(ngModel)]="name">
  </ion-item>
  <ion-item>
    <ion-label>Apellido</ion-label>
    <input [(ngModel)]="lastName">
  </ion-item>

  <ion-button (click)="generarUsuario()">Generar</ion-button>
  <ion-label>Aqui comienza la lista</ion-label>
  <ion-list *ngIf="mostrar" >
    <ion-item *ngFor="let item of solicitarUsuario()">
      <ion-label>{{item.id}}</ion-label>
      <ion-label>{{item.name}}</ion-label>
      <ion-label>{{item.lastName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
